.main {
  display: flex;
  align-items: center;
  width: 620px;
  height: 763px;
  left: 192px;
  top: 293px;

  background: #ffffff;
  border-radius: 20px;
  flex-direction: column;
}

.content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
  width: 100%;
}

.content-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 2vh;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 24px;
  color: #111111;

  flex: none;
  order: 0;
  flex-grow: 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.name {
  margin-top: 5%;
  margin-left: 5%;
}

Input#name {
  width: 515px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 5%;
}

.sidemodal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modal-finally {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15%;
}

Input#phone {
  width: 162px;
}

Input#birthday {
  width: 162px;
}

#ageId {
  position: absolute;
  left: 423px;
  bottom: 8px;
  margin: 0;
}

#age-modal {
  position: relative;
  width: 100%;
}

#check-modal {
  position: relative;
  width: 100%;
}

#checkId {
  position: absolute;
  left: 9%;
  bottom: 21%;
}

@media screen and (max-width: 650px) {
  .main {
    width: 100vw;
    height: 100vh;
  }
  header {
    align-items: center;
    width: 60%;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 0;
  }

  .name {
    margin-left: 0;
  }
  Input#name {
    width: 330px;
  }

  Input#phone {
    width: 150px;
    height: 40px;
  }

  Input#birthday {
    width: 150px;
    height: 40px;
  }
  .sidemodal-form {
    flex-direction: row;
  }

  #ageId {
    left: 280px;
  }

  .modal-finally {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  #checkId {
    position: absolute;
    left: 25%;
    top: 5%;
}

}