.main {
  display: flex;
  align-items: center;
  width: 620px;
  height: 763px;
  left: 192px;
  top: 293px;

  background: #ffffff;
  border-radius: 20px;
  flex-direction: column;
}

.content-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
  width: 100%;
}


.content-form{
  display: flex;
  width: 100%;
  justify-content: center;
}



header {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 2vh;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 24px;
  color: #111111;

  flex: none;
  order: 0;
  flex-grow: 0;
}

form{
  width: 100%;
}

Input#name{
  width: 515px;
}

.name{
  margin: 8% 4% 4% 8%;
}

.modal-form{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.modal-finally{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15%;
}
.email{
  margin: 2% 1% 1% 8%;
}

.password{
  margin: 4% 1% 1% 8%;
}

Input#phone{
  width: 162px;
}

.phone{
  margin: 2% 1% 1% 2%;
}

Input#birthday{
  width: 162px;
}
.birthday{
  margin: 4% 1% 1% 2%;
}

#ageId{
  position: absolute;
  left: 64%;
  margin: 0;
}

#age-modal{
  position: relative;
}

#check-modal{
  position: relative;
  width: 100%;
}

#checkId{
  position: absolute;
  left: 9%;
  bottom: 21%;
}